@import '/client/styles/partials/vars.import.less';

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  height: @header-height;
  width: 100%;
  z-index: 900;
  background: url('/images/gift.png'), @gradient-bg;
  background-repeat: no-repeat;
  background-position-x: 15px, 0;
  background-size: 90px, 100%;
  color: #FFF;
  cursor: default;

  .app-header--container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    font-family: FoglihtenNo07;
    margin: 0 10px -3px 120px;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    border-top: 1px dashed rgba(255,255,255, 0.3);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
  }
  &:before {
    top: 2px;
  }
  &:after {
    bottom: 2px;
  }

}

#navigation-container {
  display: flex;

  & > div {
    margin: 0 10px 0 0;
  }

  .menu {
    margin-top: 2px;
  }
}