@import '{}/client/styles/variables';

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  height: $header-height;
  width: 100%;
  z-index: 100;
  background: url('/images/gift.png'), $gradient-bg;
  background-repeat: no-repeat;
  background-position-x: 15px, 0;
  background-size: 90px, 100%;
  color: #FFF;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    display: inline-block;
    font-family: FoglihtenNo07;
    margin: 0 120px;
    line-height: $header-height + 5px;
    font-size: 3.2rem;
  }

  .login-nav-button {
    margin: ($header-height - 34px) / 2;
  }
}