.notifications-popup.ui.popup {
  max-width: 500px !important;
  max-height: 300px;
  overflow-y: scroll;
  padding: 0;
}

.ui.label.notifications-count {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 0.6rem;
  z-index: 1;
}