.comment-group {
  position: relative;
  .user--name {
    font-weight: bold;
    white-space: normal !important;
  }
  .hint {
    position: absolute;
    padding: 3px;
    background-color: #fff;
    border-radius: 3px;
    top: 5px;
    right: 0;
  }
  .user:hover {
    z-index: 1;
    background-color: #fff;
  }
}