.comment-group {
  position: relative;
  .user--name {
    font-weight: bold;
  }
  .hint {
    display: none;
    position: absolute;
    padding: 3px;
    background-color: #fff;
    border-radius: 3px;
    top: 5px;
    right: 0;
  }
  &:hover .hint {
    display: block;
  }
}