@import '/client/styles/partials/vars.import.less';

.ui.dropdown  {
  .new-event {
    text-align: center !important;
  }
  .header.inactive {
    text-align: center;
    cursor: default;
    color: #aaa;
    &::selection {
      background: transparent;
    }
  }
}

#events-button {
  .caret.down.icon {
    transition: transform @transition-time;
  }
  &.active .caret.down.icon {
    transform: rotate(180deg);
  }
}
