//sizes
$header-height: 50px;

//colors
$color-primary: #3c8d0d;
$color-secondary: #245508;
$gradient-bg: linear-gradient(to bottom, $color-primary 0, $color-secondary 100%);

//mixins
@mixin default-cursor() {
  cursor: default !important;
}

//other
$transition-time: 0.3s;