.selectable() {
  &.active {
    background-color: @grey-light !important;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.14) inset,
    0 3px 5px rgba(0, 0, 0, 0.125) inset;
  }
  &:hover,
  &.active:hover {
    background-color: @grey-light !important;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-label() {
  &:hover:not(.disabled),
  &.active:not(.disabled) {
    .ui.label {
      background: none #fff;
      color: rgba(0, 0, 0, 0.87);
      box-shadow: none;
    }
  }
}

.shadow-hover() {
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  &:hover,
  &.active {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

.clearfix() {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.presents-footer {
  background-image: url('images/prezenty-footer-100.png');
  background-position: bottom;
  background-repeat: repeat-x;
}