//sizes
@header-height: 50px;
@footer-height: 10px;
@sidebar-width: 300px;
@large-user-image: 70px;
@normal-image-size: 150px;
@small-image-size: 100px;


//colors
@color-primary: #3c8d0d;
@color-secondary: #245508;
@color-light: #85D98A;
@red-dark: #9A0D0D;
@red-light: lighten(@red-dark, 20%);
@grey-light: #e6e6e6;
@grey-dark: #adadad;
@grey-background: #f8f8f9;
@grey-transparent: rgba(0,0,0,0.2);
@grey-card: #d4d4d5;
@grey-inactive-header: #aaa;
@border-color: rgba(34, 36, 38, 0.15);
@gradient-bg: linear-gradient(to bottom, @color-primary 0, @color-secondary 100%);
@gradient-bg-reverse: linear-gradient(to bottom, @color-secondary 0, @color-primary 100%);
@gradient-bg-red: linear-gradient(to bottom, @red-light 0, @red-dark 100%);
@gradient-bg-red-reverse: linear-gradient(to bottom, @red-dark 0, @red-light 100%);

//z-index
@z-index-image-picker-file-input: -1;
@z-index-ribbon-ending: -1;
@z-index-sidebar-controller: -1;
@z-index-img-dimmer: 0;
@z-index-user-item: 1;
@z-index-user-list: 2;
@z-index-form-popup-action-buttons: 3;
@z-index-present-container-dimmer: 35;
@z-index-present-details-dimmer: 39;
@z-index-sidebar: 40;
@z-index-popup: 90;
@z-index-add-present-button: 90;
@z-index-app-content-dimmer: 890;
@z-index-header: 900;

//other
@transition-time: 0.3s;

//media queries
@media-padded-max-width: 925px;
@media-vertical-align-max-width: 840px;