//sizes
@header-height: 50px;
@footer-height: 10px;
@user-list-width: 300px;

//colors
@color-primary: #3c8d0d;
@color-secondary: #245508;
@color-light: #85D98A;
@grey-light: #e6e6e6;
@grey-dark: #adadad;
@grey-background: #f8f8f9;
@grey-transparent: rgba(0,0,0,0.2);
@border-color: rgba(34, 36, 38, 0.15);
@gradient-bg: linear-gradient(to bottom, @color-primary 0, @color-secondary 100%);
@gradient-bg-reverse: linear-gradient(to bottom, @color-secondary 0, @color-primary 100%);

//other
@transition-time: 0.3s;