.user-item-accept-popup {
  white-space: nowrap;
  padding: 0 !important;
  .title {
    min-width: 100%;
    justify-content: center;
    padding: 1em 1.5em;
    flex-wrap: nowrap;
  }
  .bottom-modal-buttons:not(.error) {
    padding-left: 0 !important;
  }
}