.login {
  align-self: center;
  max-width: 400px;

  legend {
    text-align: center;
  }

  button[type=submit] {
    margin-top: 25px;
  }

  .well {
    overflow: hidden;
  }

  .top-left {
    border-radius: 5px 0 0 0 ;
  }

  .top-right {
    border-radius: 0 5px 0 0 ;
  }

  .bottom-right {
    border-radius: 0 0 5px 0;
  }

  .bottom-left {
    border-radius: 0 0 0 5px;
  }

  .input-group-vertical > .input-group:not(:first-child) {
    span,
    input:not(:focus) {
      border-top: 1px solid transparent;
    }
  }

  .input-group-vertical > .input-group:first-child {
    input:not(:focus) {

    }
  }

}
