@import '/client/styles/partials/vars.import.less';
@import '/client/styles/partials/mixins.import.less';

.app-content {
  padding-top: @header-height;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  overflow-y: auto;

  & > .ui.dimmer {
    z-index: @z-index-app-content-dimmer;
  }

}

#app:not(.event-view) > .app-content {
  .presents-footer()
}