@import '/client/styles/partials/vars.import.less';

#event-container {
  width: 100%;
  min-height: calc(~"100vh" - @header-height);
  position: relative;
  display: flex;

  .popup {
    z-index: 90;
  }

  & > .ui.dimmer {
    z-index: 890;
  }

}