@import '/client/styles/partials/vars.import.less';

#event-container {
  width: 100%;
  min-height: calc(~"100vh" - @header-height);
  position: relative;
  display: flex;
  transition: margin @transition-time * 2;

  .popup {
    z-index: @z-index-popup;
  }

  .add-present-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: @z-index-add-present-button;
    .button {
      margin: 0;
    }
    .present-button--add {
      .corner.inverted.icon {
        text-shadow: -1px -1px 0 @color-primary, 1px -1px 0 @color-primary, -1px 1px 0 @color-primary, 1px 1px 0 @color-primary;
      }
    }
  }

}

.sidebar-visible #event-container {
  margin-left: @sidebar-width;
}

@media (max-width: @media-padded-max-width) {
  .sidebar-visible #event-container {
    margin-left: 0;
  }
}