@import '/client/styles/partials/vars.import.less';

.user-item {
  width: 100%;
  display: flex;
  transition: background-color @transition-time;
  background-color: #fff;
  padding: 9px 5px 9px 15px;
  align-items: center;
  cursor: default !important;

  &.active,
  &:hover {
    background-color: @grey-light;
    .count-label {
      background: none #fff;
      color: rgba(0, 0, 0, 0.87);
      box-shadow: none;
    }
  }

  .user {
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .count-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user-item--edit {
    margin: 0 -4px !important;
  }

}

