@import '/client/styles/partials/vars.import.less';

#user-list {
  width: 300px;
  min-height: 100%;

  .user-list--title {
    padding: 15px;
    font-size: 1.3em;
    text-align: center;
    position: relative;
  }

  .user-list--add-participant-button {
    position: absolute;
    left: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 37px;
    padding: 8px;
  }

}