@import '/client/styles/partials/vars.import.less';

#user-list {
  width: @user-list-width;
  min-width: 300px;
  min-height: calc(~"100vh" - @header-height);
  position: relative;
  z-index: 2;
  padding-bottom: 75px;

  .user-list--title {
    padding: 15px;
    font-size: 1.3em;
    text-align: center;
    position: relative;
  }

  .user-list--list {
    padding-bottom: 75px;
  }

  .count-label {
    margin: 0 10px !important;
  }
}